{% extends "base.html" %}

{% import "macros/post.html" as posts %}

{% block styles_init %}
  {{ super() }}
{% endblock styles_init %}

{% block stylesheets %}
  {{ super() }}
  {{ style::load_css(path="/style/index.css") }}
{% endblock stylesheets %}

{% block page_content %}
  <section id="site_title">
    <h1>{{ config.title }}</h1>
    {{ section.content | safe }}
  </section>
  <section id="posts">
    <h2>
      Latest blog posts
    </h2>
    {% set blog = get_section(path=config.extra.sections.blog ~ "/_index.md") %}
    {% if blog and blog.pages | length > 0 %}
      {# for article in range(end=5) #}
      {% for article in blog.pages %}
        {% set url = get_url(path=article.path) %}
        {% set tags = article.taxonomies["tags"] | default(value=[]) %}
        {% set categories = article.taxonomies["categories"] | default(value=[]) %}
        {{ posts::show_post_card(date=article.date, title=article.title, summary=article.description, url=url, tags=tags, categories=categories)}}
        {% if not loop.last %}
          <hr />
        {% endif %}
      {% endfor %}
      <div>
      <a href="/blog">See all posts</a></div>
    {% else %}
      <div>
        <header>
          No posts yet
        </header>
        <p>Sorry... Maybe check back later?</p>
      </div>
    {% endif %}
  </section>
{% endblock page_content %}