{% import "macros/style.html" as style %}
{% import "macros/img.html" as img %}

{% block styles %}
  {{ style::fomantic_ui(components=[ "button", "container", "icon", "input", "item", "menu" ]) }}
{% endblock styles %}

{#
<header id="site_header">
  <nav class="ui menu">
    <div class="header item">
      {% set logo_path = config.extra.header.logo %}
      <img src="{{ img::src(path=logo_path) }}" srcset="{{ img::srcset(path=logo_path, styles=[ "logo-header" ]) }}" />
    </div>
  </nav>
</header>
#}
<header>
  <nav>
    <ul class="ui stackable secondary container menu">
      <li class="header item">
        {% if config.extra.header.logo_path %}
          <img src="" {% if config.extra.header.logo_alt -%} alt="{{ config.extra.header.logo_alt }}" {%- endif %} />
        {% endif %}
        <a title="Homepage" href="/">Home</a>
      </li>
      {% if config.generate_feed %}
        <li class="item"><a href="/feeds" title="Feeds for the site contents or categories">Feeds</a></li>
      {% endif %}
      {% if config.build_search_index %}
        <li class="right item">
          <form class="ui icon input" name="search">
            <input type="text" type="search" id="site_search" placeholder="Search..." />
            <i class="search link icon" title="Click to search"></i>
          </form>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
