{% import "macros/style.html" as style %}
{% import "macros/img.html" as img %}

{#
  * FIXME: All Fomantic-UI components used here must be listed in the pages including this.
  * ==> [ "button", "container", "icon", "input", "item", "menu" ]
#}

{#
<header id="site_header">
  <nav class="ui menu">
    <div class="header item">
      {% set logo_path = config.extra.header.logo %}
      <img src="{{ img::src(path=logo_path) }}" srcset="{{ img::srcset(path=logo_path, styles=[ "logo-header" ]) }}" />
    </div>
  </nav>
</header>
#}
<header>
  <nav>
    <ul class="ui stackable secondary container menu">
      <li class="header item">
        {% if config.extra.header.logo_path %}
          <img src="" {% if config.extra.header.logo_alt -%} alt="{{ config.extra.header.logo_alt }}" {%- endif %} />
        {% endif %}
        <a title="Homepage" href="/">Home</a>
      </li>
      {% set site = get_section(path="_index.md") %}
      {% for subsec in site.subsections %}
        {% set subsec = get_section(path=subsec) %}
        <li class="item"><a href="{{ subsec.permalink }}">{{ subsec.title | safe }}</a></li>
      {% endfor %}
      {% if config.build_search_index %}
        <li class="right item">
          <form class="ui icon input" name="search">
            <input type="text" type="search" id="site_search" placeholder="Search..." />
            <i class="search link icon" title="Click to search"></i>
          </form>
        </li>
      {% endif %}
      {% if config.languages and config.languages | length > 0 %}
        {# TODO: Put language choice dropdown #}
        <li class="item">Languages</li>
      {% endif %}
      <li class="item">
        <i class="sun icon"></i>
        <div class="ui toggle checkbox">
          {# FIXME: The checkbox does not show up... #}
          {# TODO: Use CSS-only toggle switch #}
          <input type="checkbox" name="light_dark" />
        </div>
        <i class="moon icon"></i>
      </li>
      {#
      * NOTE: Other option, but might need JS to work correctly...
      <li class="item">
        <div class="ui compact icon buttons">
          <button class="ui active yellow button"><i class="sun icon"></i></button>
          <button class="ui blue button"><i class="moon icon"></i></button>
        </div>
      </li>
      #}
    </ul>
  </nav>
</header>
