:root {
  --font-ratio: 1.3;

  --size-ratio-300: calc(var(--size-ratio-400) / var(--font-ratio));
  --size-ratio-400: calc(var(--size-ratio-500) / var(--font-ratio));
  --size-ratio-500: 1;
  --size-ratio-600: calc(var(--size-ratio-500) * var(--font-ratio));
  --size-ratio-700: calc(var(--size-ratio-600) * var(--font-ratio));
  --size-ratio-800: calc(var(--size-ratio-700) * var(--font-ratio));
  --size-ratio-900: calc(var(--size-ratio-800) * var(--font-ratio));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aleo";
}

h1 {
  font-size: calc(1em * var(--size-ratio-900));
}

h2 {
  font-size: calc(1em * var(--size-ratio-800));
}

h3 {
  font-size: calc(1em * var(--size-ratio-700));
}

h4 {
  font-size: calc(1em * var(--size-ratio-600));
}

h5 {
  font-size: calc(1em * var(--size-ratio-500));
}

h6 {
  font-size: calc(1em * var(--size-ratio-400));
}

nav {
  font-face: 'Aleo';
}

ul.ui.menu {
  padding-left: 0 !important;
}

ol.ui.breadcrumb {
  padding-left: 0 !important;
}

header > nav + h1.compact {
  margin-top: 0 !important;
}

header.relaxed {
  margin-bottom: 1em;
}

.ui.header > .sub.header + h1,
.ui.header > .sub.header + h2,
.ui.header > .sub.header + h3,
.ui.header > .sub.header + h4,
.ui.header > .sub.header + h5,
.ui.header > .sub.header + h6 {
  margin-top: 0.3em;
}

